
<form [formGroup]="authForm">
<mat-card class="signin mat-elevation-z8">
    <section fxLayout="column" fxLayoutAlign="center center">
        <h1> CONNEXION</h1>

        <p>
        <mat-icon>warning</mat-icon>
        L'accés est strictement réservé aux collaborateurs de sas-valet !
        Toute intrusion non autorisé fera suite de poursuite pénale (art 233 - code pénale).
        </p>
    

        <mat-form-field class="input">
            <input matInput 
                placeholder="ID"
                value=""
                formControlName="lastName">
        </mat-form-field> 


        <mat-form-field class="input">
            <input matInput 
                placeholder="PASSWORD"
                value=""
                type="password"
                formControlName="password">
        </mat-form-field> 

        <button  (click)="login()"
            >Connexion
        </button>
    </section>
</mat-card>
</form>
